@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.comment-heading {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.6rem 1.6rem 2rem;
  margin-bottom: 1.6rem;

  @include tablet {
    padding-left: 3.6rem;
  }

  @include desktop {
    padding-left: 10.7rem;
  }
}

.comment {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include tablet {
    padding-left: 4.1rem;
    padding-right: 3.6rem;
    height: 5rem;
  }

  &__form {
    display: flex;
    gap: 2rem;

    @include tablet {
      width: 100%;
    }
    @include desktop {
      padding-left: 6rem;
      gap: 3rem;
    }
  }

  &__avatar-container {
    position: relative;
  }

  &__avatar {
    width: 50px;
    height: 40px;
    border-radius: 50%;

    @include tablet {
      margin-top: 1rem;
    }
  }

  &__name-text {
    color: $silver;
    text-transform: uppercase;
    font-size: 1.3rem;

    @include tablet {
      position: absolute;
      bottom: 6rem;
    }
  }
  &__flex-wrapper {
    width: 100%;

    @include tablet {
      width: 100%;
      display: flex;
      gap: 2rem;
    }
  }

  &__text-container {
    @include tablet {
      position: relative;
    }
  }

  &__text {
    padding-bottom: 6rem;
    padding-left: 1rem;
    width: 100%;
    height: 9rem;
    margin-top: 0.7rem;
    background-color: $alabaster;
    border: 1px solid $silver;
    border-radius: 3px;
    font-size: 1.3rem;

    @include tablet {
      width: 44rem;
      height: 3.5rem;
      padding: 0;
      margin-top: 0rem;
    }

    @include desktop {
      width: 40rem;
    }
  }

  &__button-container {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    @include tablet {
      padding-top: 1.2rem;
    }
  }

  &__button {
    width: 100%;
    border-radius: 3px;
    background: url(../../../assets/images/add_comment.svg) no-repeat 13px
      center;
    background-size: 20px;
    height: 3.5rem;
    background-color: $blue;
    color: white;
    border: 0px solid transparent;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: 15rem;
    }

    @include desktop {
      margin-left: 1rem;
    }

    &:hover {
      background-color: $darkBlue;
    }
  }
}

input::placeholder {
  color: $black;
  padding-left: 1rem;
}

@include tablet {
  .comment__flex-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@include tablet {
  .comment__flex-wrapper {
    gap: 3rem;
  }
}
