@import "./styles/partials/reset";
@import "./styles/partials/text";
@import "./styles/partials/variables";
@import "./styles/partials/mixins";

body {
  min-height: 100vh;
  font-family: "Avenir Next";
  display: flex;
  flex-direction: column;
}

@include desktop {
  .wrapper {
    display: flex;
  }

  .side-video {
    max-width: 100%;

    @include desktop {
      border-left: 1px solid $silver;
    }
  }

  .side-video-wrapper {
    width: 100%;
  }
}

@include desktop {
  .flex {
    width: 90rem;
  }
}
